<div class=@($"NavigationButton {Class}")
	 @onclick="() => OnClick(Direction)">
	<i class="material-icons Icon">
		@($"keyboard_arrow_{Direction.ToString().ToLower()}")
	</i>
</div>

@code
{
	[Parameter]
	public NavigationDirection Direction { get; set; }

	[Parameter]
	public Action<NavigationDirection> OnClick { get; set; }

	[Parameter]
	public string Class { get; set; }
}