@using Picro.Client.Utils
@inherits LayoutComponentBase

<div class="ContentContainer"
     @onclick="GlobalClickHandler.HandleClick"
     style="height: 100%">
    <MenuContainer />
    <NotificationMenu />
    <div class="BodyContainer">
        @Body
    </div>
</div>