.MenuIconTemplate {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: fixed;
  font-size: 50px;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.BurgerMenu {
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 100;
}
.BurgerMenu ::deep .BarBrand {
  position: relative;
  width: 100%;
}
.BurgerMenu ::deep .BarBrand .BrandName {
  margin-left: 5px;
  font-size: 35px;
}
.BurgerMenu ::deep .BarBrand .MenuIconEmbedded {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: fixed;
  font-size: 50px;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 0px;
  right: 0px;
}
.BurgerMenu .MenuIcon {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: fixed;
  font-size: 50px;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
