.Container ::deep .ImageEntry {
  height: 150px;
  width: 100%;
}
.Container ::deep .ImageEntry .InfoSection {
  margin: 3px;
}
.Container ::deep .ImageEntry .InfoSection span {
  margin: 3px 0 0 3px;
}
.Container ::deep .ImageEntry .ImageContent {
  height: 150px;
  width: 150px;
}
.Container ::deep .ImageEntry .DeleteSection {
  cursor: pointer;
}
