@page "/Images/Overview"
@using Picro.Client.Components.General.Flex.Enums

<div class="Container">
    <Flex Class="ImagePageGrid">
        <Flex Class="ImageList"
              Direction="FlexDirection.Column">
            @foreach (var imageInfo in _uploadedImages)
            {
                <ImageEntry ImageInfo=@imageInfo
                            OnImageDelete=@OnDeleteImage />
            }
        </Flex>
        <Flex Class="ImageUploadSection"
              MainAlign="FlexAlign.Center"
              CrossAlign="FlexAlign.Center">
            Take Picture
        </Flex>
        <Flex Class="ImageUploadSection"
              MainAlign="FlexAlign.Center"
              CrossAlign="FlexAlign.Center">
            Upload existing picture
            <InputFile OnChange=@OnInputFileChange
                       accept=@_allowedImageExtensions>
                Test
            </InputFile>
        </Flex>
    </Flex>
</div>