// no-minify

.Container {
    height: 100%;

    ::deep .ImagePageGrid {
        display: grid;
        grid-template-rows: 95% 5%;
        height: 100%;

        .ImageList {
            grid-column: ~"1 / 3";
            border: 1px solid black;
            overflow-y: auto;
        }

        .ImageUploadSection {
            margin: 3px;
            width: 100%;
            border: 1px solid black;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}